

#playground{
    width: 600px;
    height: 600px;
    background-color: black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white
}
button{
    margin: 0 auto;
    display: block;
}
.square{
    border: 2px solid white;
 /*    width: calc(100% / 8);
    height: calc(100% / 8); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.active{
    background-color: aquamarine;
    color: black
}